[submodule "jupi/g_generation/JavaScript-MD5"]
	path = jupi/g_generation/JavaScript-MD5
	url = https://github.com/blueimp/JavaScript-MD5
[submodule "submodules/gamelib"]
	path = submodules/gamelib
	url = https://github.com/jacklehamster/gamelib
[submodule "submodules/jsgif"]
	path = submodules/jsgif
	url = https://github.com/jacklehamster/jsgif
