[submodule "jupi/g_generation/jsgif"]
	path = jupi/g_generation/jsgif
	url = https://github.com/shachaf/jsgif
[submodule "jupi/g_generation/JavaScript-MD5"]
	path = jupi/g_generation/JavaScript-MD5
	url = https://github.com/blueimp/JavaScript-MD5
[submodule "lib/jsgif"]
	path = lib/jsgif
	url = https://github.com/shachaf/jsgif
[submodule "submodules/three.js"]
	path = submodules/three.js
	url = https://github.com/mrdoob/three.js/
[submodule "submodules/gamelib"]
	path = submodules/gamelib
	url = https://github.com/jacklehamster/gamelib
